.dropdown-menu {
    background-color: #fd784f;
}
.dropdown-toggle {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.dropdown-toggle:hover {
    color: #fd784f;
}
.dropdown-menu li {
    padding: 10px 20px
}
.dropdown-menu li:hover {
    background-color: #0e1d41;
}
.dropdown-menu li a {
    color: #FFFFFF;
}
.card-body {
    padding-left: 15px;
    background: #edeff4;
    padding-bottom: 10px;
}
.card-title {
    margin-top: 0;
}
.featured_card_container:hover {
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.55);
}
.featured_card_container:hover .card {
    box-shadow: none;
}
.featured_card_container:hover .featured_card_box {
    box-shadow: none; /*0px 10px 10px rgba(0,0,0,0.55);*/
}
.featured_card_box {
    margin-top: 0px;
    margin-bottom: 30px;
}
@media only screen and (max-width: 991px)
{
    .navbar-right { display: none; }
}

